/* #my-sky-canvas {
    background: -webkit-linear-gradient(#00111e 30%, #033d5e);
    background: -moz-linear-gradient(#00111e 30%, #033d5e);
    background: -o-linear-gradient(#00111e 30%, #033d5e);
    background: linear-gradient(#00111e 30%, #033d5e);
    overflow: hidden;
  }
   */

   .full-info-screen {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     height: 100vh;
     width: 100vw;
   }
   .full-info-screen div {
     flex: 1;
   }
   .data-in-raw {
    background-color: aqua;
   }
   .word-map{ 
    background-color: #FFFFFF;
   }
   .threed-viz {
    background-color: beige;
   }
   .location-map {
    background-color: bisque;
   }

   